$minimize-screen: 800px;
$phone-screen: 600px;

.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: snow;
  padding: 0.5em;
  background-color: rgba(146,189,241,0.3) ;
  border-radius: 15px;
}
.card p{
  text-align: center;
  margin-bottom: -0.5em;
}
.button{
margin-top: 1.8em;
}
.button:hover{
  color: #92bdf1;
}

@media (max-width: $phone-screen) {
  .card{font-size: smaller; height: 70%}
  .card p{font-size: smaller;}
}
