@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
$minimize-screen: 800px;
$phone-screen: 600px;

.contactContainer a{
    display: flex;
    justify-content: center;
    color: snow;
}
.mail:hover{
    width: 3.2em
}

.image{
    width: 45%;
    border: double snow 3px;
    opacity: 85%;
    z-index: -1;
    border-radius: 15px;
}
.carImage{
    width: 95%;
    border-radius: 15px;
}
.textAccueil{
    width: 87%;
    margin-top:1.5em;
    text-align: justify;
    border-radius: 15px;
    padding-right: 2em;
    padding-left: 2em;
    background-color: rgba(73, 21, 19, 0.93);
    transition:all .5s ease;
    box-shadow: 20px 38px 34px -26px hsla(0, 14%, 96%, 0.2);
    color: snow;
}
.textAccueil p{
    font-size: larger;
}

.textAccueil:hover{
     box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

.textAccueil h1{
    display: flex;
    justify-content: center;
}

.liens{
    margin-top: 2em;
    margin-bottom: 2em;
}

.liens a{
    text-decoration: none;
    color: snow;
    font-size: 1.5em;
}
.liens a:hover{
    text-decoration: underline;
    font-size: 1.7em;
    font-weight: bold;

}
.containerCard{
    width: 95%;
    height: 90vh;
    display: grid;
    margin-top: 3em;
    grid-gap: 0.5em;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 40% 5% ;
    justify-content: center;
    padding: 0.5em ;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
}
.info span{
    text-align: center;
    width: 50%;
    background-color: rgba(43, 116, 199, 0.267);
    border-radius: 15px;
    padding: 0.3em;
}
.info:hover{
    color: #92bdf1;
    font-size: 1.1em;
   
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: snow;
}
.about h2{
    border-bottom: 2px double snow;
}
.footer{
    color: snow;
    display: flex;;
    justify-content: center;
    margin-top: 1em;
}

@media (max-width: $phone-screen) {

    .info{margin-top: -5em;}
    .content{margin-top: -3em;}
    .image{ width: 85%;}
}
